.post {
  
}

.post__title {
  margin: 0;
  font-weight: 400;
}

.post__date, .post__author {
  font-size: 16px;
  font-weight: 300;
}

.post__author {
  margin-top: 20px;
}

.post__date {
  margin-bottom: 3px;
}

.post__separator {
  margin: 30px 0 15px;
  height: 1px;
}