#hero {
  padding: 80px 0;
}

#the-problem, #our-vision {
  padding: 40px 0;
}

#hero {
  text-align: center;
}


#events {
  background: #1f222c;
  color: #fff;
  padding: 60px 0;
}

#events a {
  color: #00ccff;
  transition: all 300ms ease;
}

#events a:hover {
  color: #9eebff;
  text-decoration: none;
}