 .LanguageSwitcher {
    float: right;
    font-size: 12px;
    font-weight: 400;
 }

 .LanguageSwitcher__button {
    color: #fff;
    background: none;
    border: 0px;
    cursor: pointer;
 }

 .LanguageSwitcher__button--selected {
    color: #00ccff;
    font-weight: bold;
 }

 .LanguageSwitcher__button:active, .LanguageSwitcher__button:focus {
    outline: none;
 }
